selenium
requests 
pymysql 
pymongo 
# pyautogui
pytest<6.0.0
pytest-selenium
pynput
# pywin32
robotframework 
robotframework-mongodbLibrary 
pywinio
httprunner
httprunner[allure]
locust
allure-pytest
paramiko
sshtunnel
AirobotLibrary