airtest
airtest_selenium
pocoui
opencv-contrib-python
selenium
requests 
pymysql 
pymongo 
# pyautogui
pytest 
pynput
# pywin32
robotframework 
robotframework-seleniumlibrary
robotframework-appiumlibrary
robotframework-requests 
robotframework-databaselibrary
robotframework-ftplibrary 
robotframework-archivelibrary 
robotframework-difflibrary 
robotframework-mongodbLibrary 
pywinio
httprunner
locust
allure-pytest
httprunner[allure]
https://github.com/BSTester/postman2case/archive/master.zip
allure-robotframework
pytest-selenium
https://github.com/BSTester/AirobotLibrary/archive/master.zip
paramiko
sshtunnel